
@import 'bootstrap/bootstrap.scss';
@import 'components.scss';
@import 'font-awesome.scss';


/*! ** VARIAVEIS  ** */
$bg-color: 			#f9f9fa;
$feed-bg-color: 			#f5f5f6;
$footer-bg-color: 		#e3e5e6;
$header-bg-color:               #e3e5e6;
$stat-bg-color: 		#bdbdbd;
$stat-text-color: 		#606060;
$text-color: 			#56616d;
$white: 			#FFFFFF;
$content-h1: 		#254A76;
$tablet-min-width: 		768px;

/*! ** GERAIS - GLOBAL ** */
* { margin: 0; padding: 0; list-style: none; text-decoration: none; border: none; outline: none; }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, img, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, figcaption, figure, footer, header, menu, nav, section{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
article, aside, figcaption, figure, footer, header, menu, nav, section{ display:block; }



.btn-dark-color{
    background-color:#606060;
    border-color:#606060;
    color:$white;
    text-decoration:none;
    text-transform:uppercase;
    &:hover {
        text-decoration:underline;
        color:$white;
    }
}

.btn-dark-default{
    background-color:#b7b8b8;
    border-color:#b7b8b8;
    color:$white;
    text-decoration:none;
    text-transform:uppercase;
    &:hover {
        text-decoration:underline;
        color:$white;
    }
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: $bg-color;
}


.footer{
    width: 100%;
    background-color:#e3e5e6;
    height:90px;
    /*BREAKPOINT tablet*/
    @media(min-width:$tablet-min-width){
        position:fixed;    
        bottom:0;
        background-color:#e3e5e6;
    }    


    .footer__left{
        font-size:26px;
        #hora{
            font-weight: 700;
            display: inline-block;
            border-right: 1px #212529 dotted;
            margin: 26px 10px;
            padding-right: 10px;
        }
    }
}

.header{
    width: 100%;
    background-color:#e3e5e6;
    height:90px;
    margin-bottom:30px;
    /*BREAKPOINT tablet*/
    @media(min-width:$tablet-min-width){

    }    
    
    .header__left--logo{
        background-color:#dddddd;
        text-align: center;
    }
}

.main__feed{
    
    padding: 0 25px;
    border-left:1px $stat-bg-color dotted;
    .main__feed--content{
        background-color:$feed-bg-color;
        padding:25px;
        .main__feed--title{
            margin-bottom:25px;
        }
        td{
            padding:10px;
        }
        p,li,a,span{
            font-size:14px;
        }
    }
}

.main__stats{
padding-bottom:90px;


    .main__stats--block{
        background-color: $stat-bg-color;
        width: 100%;
        margin-bottom:30px;
        padding:20px;

        h3{
            color:$white;
            font-weight:normal;
            text-transform: uppercase;
            font-size:13px;
            text-align:center;
            display:block;


        }
        .numero{
            text-align:center;
            font-size:75px;
            span{
                color:$stat-text-color;
                font-weight:bold;
                text-align:center;
            }

        }

    }
}